-- Test data for channel_accounts
-- First, let's see what properties exist
SELECT id, name, host_id FROM properties LIMIT 5;

-- Insert a test channel_account with ics_export_token
INSERT INTO channel_accounts (
  host_id, 
  kind, 
  name, 
  property_id, 
  ics_export_token,
  created_at,
  updated_at
) 
SELECT 
  host_id,
  'ics'::channel_kind,
  'Test Export Channel',
  id as property_id,
  'test-token-' || substring(id::text from 1 for 8) as ics_export_token,
  now(),
  now()
FROM properties 
WHERE host_id IS NOT NULL 
LIMIT 1
ON CONFLICT DO NOTHING;

-- Verify the insert
SELECT ca.id, ca.name, ca.property_id, ca.ics_export_token, p.name as property_name
FROM channel_accounts ca
JOIN properties p ON ca.property_id = p.id
WHERE ca.ics_export_token IS NOT NULL;
